<div class="page-wrapper card bg-ele-team">
    <div class="page-header">
        <div class="page-header-text">
            Members
        </div>
        <div class="filter">
            <div class="search-container">
                <div class="search-icon">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
                <div class="search-box">
                    <input type="text" [(ngModel)]="filter" class="search-input" placeholder="search"
                        (change)="queryData()">
                </div>
            </div>
        </div>
    </div>
    <table class="table">
        <thead class="card-header">
            <tr>
                <th>Name</th>
                <th>Phone</th>
                <th>Gender</th>
                <th>Birthday</th>
                <th>Address</th>
                <th></th>
            </tr>
        </thead>
        <tbody class="card-body">
            <ng-container *ngIf="render && render.length > 0 ; else canNotFineUserInDomain">
                <ng-container *ngFor="let user of render">
                    <tr>
                        <td [routerLink]="'/member/'+(user.employeeId)" class="mouse-pointer">{{user.name}}
                        </td>
                        <td>{{user.phone}}</td>
                        <td>{{user.gender}}</td>
                        <td>{{user.birthday}}</td>
                        <td>{{user.address}}</td>
                        <td class="delete-icon">
                            <i class="fa-solid fa-trash" (click)="onDeleteMemberClick(user.employeeId)"></i>
                        </td>
                    </tr>
                </ng-container>
            </ng-container>
            <ng-template #canNotFineUserInDomain>
                <tr>
                    <td>user not found</td>
                </tr>
            </ng-template>
        </tbody>

    </table>
    <span class="pagination-controller" *ngIf="maxPage>1">
        <div class="pagination-container bg-ele-team text-blue pagination-arrw-btn">
            <div class="pagination-btn pagination-left-btn pagination-arrw-btn" *ngIf="page>1" (click)="prevPage()">
                <div>&laquo; <label class="pagination-arrw-text">Previous</label></div>
            </div>
        </div>
        <div class="pagination-container bg-ele-team text-blue">
            <ng-container *ngFor="let i of pageBar">
                <div [class]="'pagination-btn'+ (i==page ? ' pagination-btn-active' : '') +  ( i==pageBar[0] ? ' pagination-left-btn':'')+  ( i==pageBar[pageBar.length-1] ? ' pagination-right-btn':'')"
                    (click)="onPageBarClick(i)">
                    <div class="">{{i}}</div>
                </div>
            </ng-container>
        </div>
        <div class="pagination-container bg-ele-team text-blue pagination-arrw-btn">
            <div class="pagination-btn pagination-right-btn pagination-arrw-btn" *ngIf="page<maxPage"
                (click)="nextPage()">
                <div><label class="pagination-arrw-text">Next</label> &raquo;</div>
            </div>
        </div>
    </span>
</div>

<ng-container *ngIf="deleteAlert">
    <div class="alert-container bg-team">
        Are you confirm delete member?
        <div class="btn-wrap">
            <button class="btn bg-blue text-white" style="margin: 1rem 1rem 0 1rem;"
                (click)="cancleDelete()">Cancle</button>
            <button class="btn bg-red text-white" style="margin: 1rem 1rem 0 1rem;"
                (click)="connfirmDeleteMemberClick()">
                Delete
            </button>
        </div>
    </div>
    <div class="backdrop" (click)="cancleDelete()"></div>
</ng-container>

<div class="responseLog" #updateResponse>
</div>