<div class="page-wrapper card bg-ele-team">
    <div class="page-header">
        <div class="page-header-text">
            Greeting
        </div>
        <div class="filter">
            <div class="search-container">
                <div class="search-icon">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
                <div class="search-box">
                    <input type="text" class="search-input" placeholder="search" [(ngModel)]="filter"
                        (change)="queryData()">
                </div>
            </div>
            <div class="filter-container" (click)="isAdd = true">
                <div class="filter-icon">
                    <i class="fa-solid fa-plus"></i>
                </div>
                <div class="filter-text">
                    Create
                </div>
            </div>
        </div>
    </div>
    <table class="table">
        <ng-container>
            <thead class="card-header">
                <tr>
                    <th>Massage</th>
                    <th>Emotion</th>
                    <th class="edit-icon"></th>
                </tr>
            </thead>
            <tbody class="card-body" *ngIf="render && render.length > 0 ; else cameraNotFound">
                <ng-container *ngFor="let mas of render;index as i">
                    <tr>
                        <td>{{mas.message}}</td>
                        <td>{{mas.emotion}}</td>
                        <td>
                            <div class="edit-icon" *ngIf="mas.organization?.organizationId !== null">
                                <i class="fa-solid fa-pen-to-square" (click)="editCamera(i)"></i>
                            </div>
                            <div class="delete-icon" *ngIf="mas.organization?.organizationId !== null">
                                <i class="fa-solid fa-trash" (click)="onDeleteMemberClick(i)"></i>
                            </div>
                        </td>
                    </tr>
                </ng-container>
            </tbody>
            <ng-template #cameraNotFound>
                <div class="card-body">
                    message not found
                </div>
            </ng-template>
        </ng-container>

    </table>
    <span class="pagination-controller" *ngIf="maxPage>1">
        <div class="pagination-container bg-ele-team text-blue pagination-arrw-btn">
            <div class="pagination-btn pagination-left-btn pagination-arrw-btn" *ngIf="page>1" (click)="prevPage()">
                <div>&laquo; <label class="pagination-arrw-text">Previous</label></div>
            </div>
        </div>
        <div class="pagination-container bg-ele-team text-blue">
            <ng-container *ngFor="let i of pageBar">
                <div [class]="'pagination-btn'+ (i==page ? ' pagination-btn-active' : '') +  ( i==pageBar[0] ? ' pagination-left-btn':'')+  ( i==pageBar[pageBar.length-1] ? ' pagination-right-btn':'')"
                    (click)="onPageBarClick(i)">
                    <div class="">{{i}}</div>
                </div>
            </ng-container>
        </div>
        <div class="pagination-container bg-ele-team text-blue pagination-arrw-btn">
            <div class="pagination-btn pagination-right-btn pagination-arrw-btn" *ngIf="page<maxPage"
                (click)="nextPage()">
                <div><label class="pagination-arrw-text">Next</label> &raquo;</div>
            </div>
        </div>
    </span>
</div>

<ng-container *ngIf="isEdit || isAdd">
    <div class="card alert-container bg-ele-team">
        <label class="modal-header-text">Edit Camera</label>
        <div class="card-body">
            <div class="form-container">
                <div class="input-container">
                    <div class="input-label">
                        <label for="name" class="controll-label">Alert Name</label>
                    </div>
                    <div class="input-wrap">
                        <input type="text" class="input-controller" [(ngModel)]="messageEditInput"
                            placeholder="message">
                    </div>
                </div>
                <div class="input-container">
                    <div class="input-label">
                        <label for="name" class="controll-label">Emotion</label>
                    </div>
                    <div class="input-wrap">
                        <select class="input-controller filter-text emotion-menu" name="emotion" [(ngModel)]="addEmotionInput">
                            <option value="happy" selected>Happy</option>
                            <option value="surprise">Surprise</option>
                            <option value="sad">Sad</option>
                            <option value="fear">Fear</option>
                            <option value="disgust">Disgust</option>
                            <option value="angry">Angry</option>
                            <option value="neutral">neutral</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="btn-wrap">
            <button class="btn bg-light-gray text-white" style="margin: 1rem 1rem 0 1rem;"
                (click)="clearInput()">Cancle</button>
            <ng-container *ngIf="isEdit&&!isAdd">
                <button class="btn bg-team-topic text-white" style="margin: 1rem 1rem 0 1rem;" (click)="submitEdit()">
                    Update
                </button>
            </ng-container>
            <ng-container *ngIf="!isEdit&&isAdd">
                <button class="btn bg-team-topic text-white" style="margin: 1rem 1rem 0 1rem;" (click)="submitCreate()">
                    Create
                </button>
            </ng-container>
        </div>
    </div>
    <div class="backdrop" (click)="clearInput()"></div>
</ng-container>
<ng-container *ngIf="deleteAlert">
    <div class="alert-container bg-team">
        Are you confirm delete member?
        <div class="btn-wrap">
            <button class="btn bg-blue text-white" style="margin: 1rem 1rem 0 1rem;"
                (click)="cancleDelete()">Cancle</button>
            <button class="btn bg-red text-white" style="margin: 1rem 1rem 0 1rem;"
                (click)="connfirmDeleteMemberClick()">
                Delete
            </button>
        </div>
    </div>
    <div class="backdrop" (click)="cancleDelete()"></div>
</ng-container>
<div class="responseLog" #updateResponse>
</div>